{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
